/* Dark Mode Custom */
[data-theme="dark"] {
  background-color: #eee !important;
  color: #111;
}

[data-theme="dark"] .navbar {
  background-color: #eee !important;
}
[data-theme="dark"] .nav-link {
  color: #111 !important;
}
[data-theme="dark"] .nav-brand {
  color: #111 !important;
}

/* Dark Mode Toggle Button */

/* * {
  box-sizing: border-box;
} */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #eee;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #111;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

[data-theme="dark"] .checkbox-label {
  background-color: #111;
}
[data-theme="dark"] .checkbox-label .ball {
  background-color: #eee;
}

.navbar-toggler {
  border: 1px solid #eee;
}

[data-theme="dark"] .navbar-toggler {
  border: 1px solid #111;
}
[data-theme="dark"] .navbar-toggler-icon {
  filter: invert(0);
}
[data-theme="dark"] .font-awe {
  color: #111 !important;
}
[data-theme="dark"] .font-awe {
  color: #111 !important;
}
[data-theme="dark"] .work-btn {
  border: 4px #111 solid;
  color: #111 !important;
  width: 300px;
  height: 65px;
  letter-spacing: 1.5px;
}
[data-theme="dark"] #intro:before {
  border-bottom: 5px solid #111;
}
