@media screen and (max-width: 728px) {
  .nav-link {
    padding-left: 0px !important;
  }
  .dark-mode-btn {
    position: absolute;
    top: 23px;
    right: 80px;
  }
  #intro-container {
    padding-top: 150px !important;
  }
  .intro-text {
    font-size: 2rem !important;
  }
  .about-text {
    font-size: 1rem !important;
    letter-spacing: 0.5px !important;
    line-height: 35px !important;
  }
  .work-btn {
    width: 250px !important;
    height: 45px !important;
    letter-spacing: 1.5px !important;
    font-size: 1rem !important;
  }
  #intro:before {
    width: 55% !important;
  }
  .line-block {
    background-color: #eee;
    min-width: 40px !important;
    min-height: 2px;
    max-height: 2px;
    margin-top: 16px !important;
    margin-right: 10px !important;
  }
  .headline-text {
    font-size: 1.5rem !important;
  }
  .breath {
    margin: 75px auto !important;
  }
  #projects {
    margin-top: 0px !important;
  }
  .role {
    font-size: 1.4rem !important;
    letter-spacing: 1.25px;
    opacity: 80%;
    margin-bottom: 15px !important;
  }
  .company {
    font-size: 1.9rem !important;
    letter-spacing: 2px;
    margin-bottom: 30px !important;
  }
  .work-btn-cs {
    width: 250px !important;
    height: 45px !important;
    letter-spacing: 1.5px !important;
    font-size: 1rem !important;
  }
  .ps-pe-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  /* .go-camle {
    display: flex !important;
    flex-direction: column-reverse !important;
  } */
  .mail{
    font-size: 1.3rem !important;
  }
  .get-in-touch{
    font-size: 1.2rem !important;
  }
  .footer-text{
    font-size: 1rem !important;
  }
  .contact-text{
    font-size: 1rem !important;
  }
  .mb-sm-50{
    margin-bottom: 50px !important;
  }
  .mt-sm-100{
    margin-top: 100px !important;
  }
  .hide-m{
    display: none !important;
  }
}
